<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
        <mat-list role="list">
            <mat-list-item routerLink="#" class="icon-line" (click)="toggleDashboard()"  [ngClass]="displaySystem ? 'selected' : 'not-selected'">
                <mat-icon>dashboard</mat-icon>
                <span>System</span>
            </mat-list-item>
            <mat-list-item routerLink="#" class="icon-line" (click)="toggleShipList()" [ngClass]="displayShipList ? 'selected' : 'not-selected'">
                <mat-icon>rocket</mat-icon>
                <span>Ship list</span>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-grid-list cols="1">
            <mat-grid-tile *ngIf="displaySystem">
                <app-system-information class="expand"></app-system-information>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="displayShipList">
                <app-ship-list class="expand"></app-ship-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>