<mat-card *ngIf="waypoint; else noWaypoint">
    <mat-card-content>
        <mat-card-header *ngIf="header">
            <mat-card-title>{{waypoint.symbol}}</mat-card-title>
            <mat-card-subtitle>{{waypoint.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-chip-set>
            <mat-chip
            *ngFor="let trait of waypoint.traits"
            matTooltip="{{trait.description}}">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{getTraitIcon(trait.symbol)}}"></mat-icon>
                <span>{{trait.name}}</span>
            </mat-chip>
        </mat-chip-set>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Faction">
                <div class="faction">
                    <span *ngIf="waypoint.faction">Faction {{waypoint.faction.symbol}}</span>
                    <span *ngIf="waypoint.faction?.symbol !== waypoint.chart?.submittedBy">submittedBy {{waypoint.chart?.submittedBy}}</span>
                    <span>submitted on {{waypoint.chart?.submittedOn | date:'medium' }}</span>
                </div>
            </mat-tab>
            <mat-tab [disabled]="!market" label="Market">
                <app-market-information *ngIf="market" [market]="market"></app-market-information>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>
</mat-card>
<ng-template #noWaypoint>
    <mat-card-content>
        <span>No waypoint informations</span>
    </mat-card-content>
</ng-template>